body {
  background-color: #999
}

#wrapper {
  display: grid;
  width: 960px;
  border: 5px solid #00479f;
  background-color: #fff;
  margin: 1em auto;
  grid-template-columns: repeat(12, 1fr);
}

header {
  /*border: 1px solid red;*/
  grid-column: span 12;
  background: linear-gradient(0deg, rgba(0,71,159,1) 0%, rgba(0,137,232,1) 100%);
  margin: 0;
  padding: 0;
}

nav {
  /*border: 1px solid red;*/
  grid-column: span 12;
  background-color: #00479f;
  padding-top: 0;
  border-bottom: 2px solid #00479f;
}

main {
  /*border: 1px solid red;*/
  grid-column: span 12;
  padding: 2em;
  padding-top: 0;
  padding-bottom: 1em;
}

footer {
  border: 1px solid red;
  grid-column: span 12;
  padding: 12px;
  margin: 0;
  background-color: #f00;
  border-top: 5px solid #00479f;
}

header h1 {
  font-family: Helvetica;
  font-style: italic;
  padding-left: 1em;
  padding-top: 6px;
}

header a {
  text-decoration: none;
  font-weight: normal;
  font-size: 36px;
}

header a:hover {
  color: #fff;
}

header a:visited {
  color: #6cf;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0;
  width: 237px;
}

nav li a {
  color: #6cf;
  font-weight: bold;
  display: block;
  padding: 15px;
  padding-left: 1.5em;
  background: linear-gradient(0deg, rgba(0,71,159,1) 0%, rgba(0,100,192,1) 100%);
  text-decoration: none;
  font-family: Helvetica;
  font-size: 1.25em;
}

nav li a:hover {
  background: linear-gradient(0deg, rgba(0,100,192,1) 0%, rgba(0,71,159,1) 100%);
}

body h2 {
  font-family: Helvetica;
  padding-bottom: 3px;
  border-bottom: 2px solid #00479f;
  font-weight: normal;
  color: #00479f;
}

p {
  font-family: Georgia;
}

.boldp {
  font-weight: bold;
}

.red {
  font-weight: bold;
  color: #f00;
}

.floatimage {
  float: left;
  border: 3px solid #00479f;
  margin-right: 20px;
}

.floatimageright {
  float: right;
  border: 3px solid #00479f;
  margin-left: 12px;
}

.borderimg {
  border: 3px solid #00479f;
  margin-right: 12px;
}
